/* Service configuration file containing entries used to configure
 * Fiddler when that service is started by the ServiceStarter
 * framework; satisfying the following criteria:
 *  - uses JRMP for remote invocation
 *  - is activatable
 *  - perists its state
 */
import net.jini.jrmp.JrmpExporter;
import net.jini.security.BasicProxyPreparer;
import net.jini.core.discovery.LookupLocator;
import java.rmi.activation.ActivationID;

com.sun.jini.fiddler {

    /* Exporter(s) -------------------------------------------------------------- */

    /* Create the exporter to use to export the service's backend. Configure
     * the exporter to export the service in the following way:
     *  - use JRMP for remote communciation
     *  - use the specified activation ID, which is the activation ID
     *    associated with the object to export
     *  - when receiving calls, use an anonymous port
     *  - does not use custom socket factories
     */
    serverExporter = new JrmpExporter( (ActivationID)$data, 0 );

    /* Proxy Preparer(s) -------------------------------------------------------- */

    /* The activatable version of this service interacts with the activation
     * framework through proxies to the activation system and the service's
     * activation ID. As such, the service should prepare those proxies before 
     * attempting to use them. A preparer for each such proxy is specifed below.
     */
    activationSystemPreparer = new BasicProxyPreparer();
    activationIdPreparer = new BasicProxyPreparer();

    /* Application-specific Items ----------------------------------------------- */

    persistenceDirectory = new String("${persistDir}");

    initialLookupGroups = new String[] {"JRMP_Group0","JRMP_Group1"};
//    initialLookupGroups   = new String[] {""};
//    initialLookupLocators = new LookupLocator[] { new LookupLocator("jini://${serverHost}")};

}//end com.sun.jini.fiddler

/* Configuration block for the lookup discovery utility */
net.jini.discovery.LookupDiscovery {

    /* NICs that initially failed are retried after this number of millisecs. */
//    multicastInterfaceRetryInterval = 30000;
    /* EXAMPLES of how to set the NICs to use. Will use ALL NICs if left unset. */
//  multicastInterfaces = new NetworkInterface[] { };// disables multicast
//  multicastInterfaces = null;                      // use system default interface
    /* Set NICs by specific IP addresses. */
//  multicastInterfaces = new NetworkInterface[] { NetworkInterface.getByInetAddress(InetAddress.getByName("192.168.1.10"),
//                                                 NetworkInterface.getByInetAddress(InetAddress.getByName("10.0.0.1")
//                                               };
    /* Set NICs by mix of (fully-qualified) host name and specific IP address. */
//  multicastInterfaces = new NetworkInterface[] { NetworkInterface.getByInetAddress(InetAddress.getByName("myHost.myCompany.com"),
//                                                 NetworkInterface.getByInetAddress(InetAddress.getByName("10.0.0.1")
//                                               };
    /* Set NICs by the NAME of the interface(s) themselves */
//  multicastInterfaces = new NetworkInterface[] { NetworkInterface.getByName("lo0"), //usually the loopback 127.0.01
//                                                 NetworkInterface.getByName("hme0")
//                                               };

}//end net.jini.discovery.LookupDiscovery
