/* Configuration file containing entries used to configure 
 * the activation group VM that is spawned by Phoenix, and
 * which uses JRMP for remote communication.
 *
 * For more information, such as an example command line for
 * starting Phoenix, see the phoenix.config file for JRMP.
 *
 * Note that the Phoenix activation group exports one remote
 * object:
 *  - activation instantiator
 * That object is exported using an Exporter obtained from this
 * configuration file. The Phoenix activation group VM provides
 * various classes to facilitate the configuration of that
 * exporter, as shown below.
 */
import com.sun.jini.phoenix.InstantiatorAccessExporter;

com.sun.jini.phoenix {

    /* Exporter(s) -------------------------------------------------------------- */

    /* Create the exporter to use to export the activation instantiator.
     * The exporter configured here wraps an instance of the interface
     * java.rmi.activation.ActivationInstantiator so that the remote
     * object that is exported only accepts calls from the local host.
     * 
     * The exporter configured here will export the activation
     * instantiator in the following way:
     *  - use JRMP for remote communciation
     *  - when accepting network connections, accept calls from only
     *    local host
     */
    instantiatorExporter = new InstantiatorAccessExporter();

    /* Application-specific Items ----------------------------------------------- */

    /* None */

}//end com.sun.jini.phoenix
