/* Configuration file containing entries used to configure the
 * ServiceStarter when that ServiceStarter is used to start
 * ALL of the contributed services, where each such service
 * satisfies the following criteria:
 *  - uses secure JERI/jsse for remote invocation
 *  - is NOT activatable
 *  - persists its state
 *
 * When using this file to configure the ServiceStarter framework,
 * the system properties shown below must be set on the command line.
 *
 *  -Djava.security.manager
 *  -Djava.security.policy
 *  -Djava.security.auth.login.config
 *  -Djavax.net.ssl.trustStore
 *  -Djava.protocol.handler.pkgs
 *  -Djava.security.properties
 *  -Djava.util.logging.manager
 *  -Djava.util.logging.config.file
 *  -Djava.security.debug (optional)
 *  -Dconfig       (THIS config file)
 *  -DserverHost   (host running the service being started)
 *  -DcodebaseHost (host running service's codebase server)
 *  -DcodebasePort (port service's codebase server listens on)
 *  -DjiniHome     (base install directory for Jini, ex. /vob/jive, c:\\jini2_0)
 *  -DappHome      (base install directory for examples, ex. /home/tests, c:\\tests)
 *
 * Below is an example command line on unix. Carriage
 * returns are inserted for readability:
 * 
 * > /export/home/j2sdk1.4.1_01/bin/java
 *    -Djava.security.manager=
 *    -Djava.security.policy=<jini-install-dir>/common/jeri/policy/start-service.policy
 *    -Djava.security.auth.login.config=<jini-install-dir>/example/common/jsse/login/setup.login
 *    -Djavax.net.ssl.trustStore=<jini-install-dir>/example/common/jsse/truststore/jini-ca.truststore
 *    -Djava.protocol.handler.pkgs=net.jini.url
 *    -Djava.security.properties=<jini-install-dir>/example/common/jsse/props/dynamic-policy.properties
 *    -Djava.util.logging.manager=com.sun.jini.logging.LogManager
 *    -Djava.util.logging.config.file=<jini-install-dir>/common/logging/jini.logging
 *    -Dconfig=<jini-install-dir>/common/jsse/config/start-all-nonactivatable.config
 *    -DserverHost=<hostname>
 *    -DcodebaseHost=<httpd-hostname>
 *    -DcodebasePort=8080
 *    -DjiniHome=<jini-install-dir>
 *    -DappHome=<example-install-dir>
 *    -jar <jini-install-dir>/lib/start.jar <example-install-dir>/common/jsse/config/start-all-nonactivatable.config
 */

/* The following describes what is required in this file by the
 * ServiceStarter:
 *
 *    For each service being started, the associated ServiceDescriptor
 *    contains the following required and optional items:
 *
 *      o NonActivatableServiceDescriptor (because the service
 *        is not activatable)
 *      o required String that specifies the codebase to be used in
 *        the service's VM
 *      o required String that specifies the policy file to be used
 *        in the service's VM
 *      o required String that specifies the classpath to be used
 *        in the service's VM
 *      o required String that specifies the impl class name of
 *        the service to be started
 *      o optional String array that specifies the arguments with 
 *        which to configure the service. Note that the first
 *        element should be the path and filename of the service's
 *        configuration file, and the remaining arguments can be
 *        configuration values that override the values in that
 *        configuration file
 *
 *  - LoginContext that is used by the ServiceStarter to perform
 *    a JAAS login under the associated Subject
 *
 *    Note: the first element of the first optional String argument
 *          of the ServiceDescriptor represents the location of another
 *          configuration file, different from this config file, that the
 *          service uses for its configuration. The service implementation
 *          retrieves the location of that other configuration file from
 *          its argument list and then performs a number of calls to getEntry
 *          during its initialization, to retrieve the values of the
 *          various configuration entries the service expects (refer to the
 *          javadoc of the service for a list of what the service expects). 
 */
import com.sun.jini.config.ConfigUtil;
import com.sun.jini.config.KeyStores;

import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;

import net.jini.url.httpmd.HttpmdUtil;

import net.jini.core.constraint.ClientAuthentication;
import net.jini.core.constraint.ConstraintAlternatives;
import net.jini.core.constraint.Integrity;
import net.jini.core.constraint.InvocationConstraint;
import net.jini.core.constraint.InvocationConstraints;
import net.jini.core.constraint.ServerAuthentication;
import net.jini.core.constraint.ServerMinPrincipal;

import net.jini.security.AuthenticationPermission;
import net.jini.constraint.BasicMethodConstraints;
import net.jini.security.BasicProxyPreparer;

import javax.security.auth.login.LoginContext;

import java.security.KeyStore;
import java.security.Permission;
import java.util.Arrays;
import java.util.Collections;

com.sun.jini.start {

    /* Public Key Certificate(s) ------------------------------------------------ */

    /* Retrieve from the configuration, the location of the truststore 
     * containing the public key certificates associated with the various
     * entities in the system.
     */
    private static caTruststore = KeyStores.getKeyStore("${appHome}${/}example${/}common${/}jsse${/}truststore${/}jini-ca.truststore", null);

    /* Retrieve from the truststore above, the public key certificate 
     * associated with each of the entities that play a role in
     * starting the service.
     */
    private static setupKey     = KeyStores.getX500Principal("setup",     caTruststore);
    private static reggieKey    = KeyStores.getX500Principal("reggie",    caTruststore);
    private static mahaloKey    = KeyStores.getX500Principal("mahalo",    caTruststore);
    private static fiddlerKey   = KeyStores.getX500Principal("fiddler",   caTruststore);
    private static normKey      = KeyStores.getX500Principal("norm",      caTruststore);
    private static mercuryKey   = KeyStores.getX500Principal("mercury",   caTruststore);
    private static outriggerKey = KeyStores.getX500Principal("outrigger", caTruststore);

    private static setupPublicKeyCert      = Collections.singleton(setupKey);
    private static reggiePublicKeyCert     = Collections.singleton(reggieKey);
    private static mahaloPublicKeyCert     = Collections.singleton(mahaloKey);
    private static fiddlerPublicKeyCert    = Collections.singleton(fiddlerKey);
    private static normPublicKeyCert       = Collections.singleton(normKey);
    private static mercuryPublicKeyCert    = Collections.singleton(mercuryKey);
    private static outriggerPublicKeyCert  = Collections.singleton(outriggerKey);

    private static serviceKeyArray = new Object[] { reggieKey,
                                                    mahaloKey,
                                                    fiddlerKey,
                                                    normKey,
                                                    mercuryKey,
                                                    outriggerKey
                                                  };

    private static servicePublicKeys = new java.util.HashSet(Arrays.asList(serviceKeyArray));

    /* Exporter(s) -------------------------------------------------------------- */

    /* None */

    /* Proxy Preparer(s) -------------------------------------------------------- */

    /* Create a set of security constraints to apply under the following
     * circumstances:
     *  - when the proxy to the service being started is prepared, trust
     *    in the proxy is verified by calling Security.verifyProxyTrust
     *    on the proxy with the client constraints specified here.
     *
     * The constraints created here require the following when a client attempts
     * to make a remote call:
     *  - integrity of the call (verify no one corrupts the call)
     *  - client authentication (the client making the call must tell
     *    the server who it is)
     *  - server authentication (the client making the call requires
     *    the server to identify itself to the client)
     *  - when performing server athentication, the server must 
     *    authenticate as at least one of the principals in the given
     *    list; which is ultimately expressed as ConstraintAlternatives
     */
    private serverPrincipals = new InvocationConstraint[]{ new ServerMinPrincipal(reggiePublicKeyCert),
                                                           new ServerMinPrincipal(mahaloPublicKeyCert),
                                                           new ServerMinPrincipal(fiddlerPublicKeyCert),
                                                           new ServerMinPrincipal(normPublicKeyCert),
                                                           new ServerMinPrincipal(mercuryPublicKeyCert),
                                                           new ServerMinPrincipal(outriggerPublicKeyCert)
                                                         };
    private serviceProxyConstraints
         = new BasicMethodConstraints( new InvocationConstraints
                                           ( new InvocationConstraint[]{ Integrity.YES,
                                                                         ClientAuthentication.YES,
                                                                         ServerAuthentication.YES,
                                                                         new ConstraintAlternatives(serverPrincipals)
                                                                       },
                                             null)
                                     );

    /* Create the proxy preparer that should be used to prepare each proxy
     * to the services being started. This preparer should verify trust in
     * each proxy using the constraints specified above. And it should
     * grant to each proxy the following permission(s):
     *
     * When requesting a connection to an entity running in the service's
     * VM (which, in this case, is also the setup VM), that authenticates
     * as at lease one of the service principals listed above, the 
     * preparer dynamically grants to the proxy, permission to
     * authenticate as no more than the principal "setup". Although the
     * affected proxy is allowed to make outbound calls ("connect") under
     * the conditions just stated, it is not allowed to accept incoming
     * calls, nor would delegation be allowed if that proxy was allowed
     * to actually make outbound calls.
     */
    servicePreparer = new BasicProxyPreparer( true,
                                              serviceProxyConstraints,
                                              new Permission[] { new AuthenticationPermission(setupPublicKeyCert,
                                                                                              servicePublicKeys,
                                                                                              "connect")
                                                                    }
                                                 );

    /* JAAS Login --------------------------------------------------------------- */

    /* The setup VM and the VM in which the services run are one and the same
     * for this case (not activatable). For every object in that VM that must
     * perform a JAAS login, the JAAS login configuration should contain an entry
     * that identifies the following information used in the login process:
     *  - the keystore from which to retrieve the private key used to login
     *  - the alias of the private key to retrieve
     *  - the (optional) location of the password file(s) from which to retrieve
     *    the appropriate password(s) needed to retrieve the private key information
     *
     * The item below identifies the entry from the JAAS login configuration
     * file for the setup VM that should be used when an object in that VM
     * performs a JAAS login.
     */
    loginContext = new LoginContext("setup.jaas.login");

    /* Service-related ---------------------------------------------------------- */
    /* Configuration items needed to by the ServiceStarter to start the services  */

    private static jskDL = HttpmdUtil.computeDigestCodebase("${jiniHome}${/}lib-dl","httpmd://${codebaseHost}:${codebasePort}/jsk-dl.jar;sha=0");

    /* For Reggie */
    private static reggieDL         = HttpmdUtil.computeDigestCodebase("${jiniHome}${/}lib-dl","httpmd://${codebaseHost}:${codebasePort}/reggie-dl.jar;sha=0");
    private static reggieCodebase   = ConfigUtil.concat( new String[] { reggieDL," ",jskDL } );
    private static reggiePolicyFile = new String("${appHome}${/}example${/}reggie${/}jsse${/}policy${/}reggie.policy");
    private static reggieClasspath  = new String("${jiniHome}${/}lib${/}reggie.jar");
    private static reggieImplName   = new String("com.sun.jini.reggie.PersistentRegistrarImpl");
    private static reggieConfig     = new String("${appHome}${/}example${/}reggie${/}jsse${/}config${/}nonactivatable-reggie.config");
    private static reggiePersistCfg = new String[] { "com.sun.jini.reggie.persistenceDirectory=",
                                                     ConfigUtil.stringLiteral("${java.io.tmpdir}jsse-reggie-log") };
    private static reggiePersistDir = ConfigUtil.concat( reggiePersistCfg );
    private static reggieArgsArray  = new String[] { reggieConfig, reggiePersistDir };

    /* For Mahalo */
    private static mahaloDL         = HttpmdUtil.computeDigestCodebase("${jiniHome}${/}lib-dl","httpmd://${codebaseHost}:${codebasePort}/mahalo-dl.jar;sha=0");
    private static mahaloCodebase   = ConfigUtil.concat( new String[] { mahaloDL," ",jskDL } );
    private static mahaloPolicyFile = new String("${appHome}${/}example${/}mahalo${/}jsse${/}policy${/}mahalo.policy");
    private static mahaloClasspath  = new String("${jiniHome}${/}lib${/}mahalo.jar");
    private static mahaloImplName   = new String("com.sun.jini.mahalo.NonActivatableMahaloImpl");
    private static mahaloConfig     = new String("${appHome}${/}example${/}mahalo${/}jsse${/}config${/}nonactivatable-mahalo.config");
    private static mahaloPersistCfg = new String[] { "com.sun.jini.mahalo.persistenceDirectory=",
                                                     ConfigUtil.stringLiteral("${java.io.tmpdir}jsse-mahalo-log") };
    private static mahaloPersistDir = ConfigUtil.concat( mahaloPersistCfg );
    private static mahaloArgsArray  = new String[] { mahaloConfig, mahaloPersistDir };

    /* For Fiddler */
    private static fiddlerDL         = HttpmdUtil.computeDigestCodebase("${jiniHome}${/}lib-dl","httpmd://${codebaseHost}:${codebasePort}/fiddler-dl.jar;sha=0");
    private static fiddlerCodebase   = ConfigUtil.concat( new String[] { fiddlerDL," ",jskDL } );
    private static fiddlerPolicyFile = new String("${appHome}${/}example${/}fiddler${/}jsse${/}policy${/}fiddler.policy");
    private static fiddlerClasspath  = new String("${jiniHome}${/}lib${/}fiddler.jar");
    private static fiddlerImplName   = new String("com.sun.jini.fiddler.NonActivatableFiddlerImpl");
    private static fiddlerConfig     = new String("${appHome}${/}example${/}fiddler${/}jsse${/}config${/}nonactivatable-fiddler.config");
    private static fiddlerPersistCfg = new String[] { "com.sun.jini.fiddler.persistenceDirectory=",
                                                      ConfigUtil.stringLiteral("${java.io.tmpdir}jsse-fiddler-log") };
    private static fiddlerPersistDir = ConfigUtil.concat( fiddlerPersistCfg );
    private static fiddlerArgsArray  = new String[] { fiddlerConfig, fiddlerPersistDir };

    /* For Norm */
    private static normDL         = HttpmdUtil.computeDigestCodebase("${jiniHome}${/}lib-dl","httpmd://${codebaseHost}:${codebasePort}/norm-dl.jar;sha=0");
    private static normCodebase   = ConfigUtil.concat( new String[] { normDL," ",jskDL } );
    private static normPolicyFile = new String("${appHome}${/}example${/}norm${/}jsse${/}policy${/}norm.policy");
    private static normClasspath  = new String("${jiniHome}${/}lib${/}norm.jar");
    private static normImplName   = new String("com.sun.jini.norm.PersistentNormServerImpl");
    private static normConfig     = new String("${appHome}${/}example${/}norm${/}jsse${/}config${/}nonactivatable-norm.config");
    private static normPersistCfg = new String[] { "com.sun.jini.norm.persistenceDirectory=",
                                                   ConfigUtil.stringLiteral("${java.io.tmpdir}jsse-norm-log") };
    private static normPersistDir = ConfigUtil.concat( normPersistCfg );
    private static normArgsArray  = new String[] { normConfig, normPersistDir };

    /* For Mercury */
    private static mercuryDL         = HttpmdUtil.computeDigestCodebase("${jiniHome}${/}lib-dl","httpmd://${codebaseHost}:${codebasePort}/mercury-dl.jar;sha=0");
    private static mercuryCodebase   = ConfigUtil.concat( new String[] { mercuryDL," ",jskDL } );
    private static mercuryPolicyFile = new String("${appHome}${/}example${/}mercury${/}jsse${/}policy${/}mercury.policy");
    private static mercuryClasspath  = new String("${jiniHome}${/}lib${/}mercury.jar");
    private static mercuryImplName   = new String("com.sun.jini.mercury.NonActivatableMercuryImpl");
    private static mercuryConfig     = new String("${appHome}${/}example${/}mercury${/}jsse${/}config${/}nonactivatable-mercury.config");
    private static mercuryPersistCfg = new String[] { "com.sun.jini.mercury.persistenceDirectory=",
                                                      ConfigUtil.stringLiteral("${java.io.tmpdir}jsse-mercury-log") };
    private static mercuryPersistDir = ConfigUtil.concat( mercuryPersistCfg );
    private static mercuryArgsArray  = new String[] { mercuryConfig, mercuryPersistDir };

    /* For Outrigger */
    private static outriggerDL         = HttpmdUtil.computeDigestCodebase("${jiniHome}${/}lib-dl","httpmd://${codebaseHost}:${codebasePort}/outrigger-dl.jar;sha=0");
    private static outriggerCodebase   = ConfigUtil.concat( new String[] { outriggerDL," ",jskDL } );
    private static outriggerPolicyFile = new String("${appHome}${/}example${/}outrigger${/}jsse${/}policy${/}outrigger.policy");
    private static outriggerClasspath  = new String("${jiniHome}${/}lib${/}outrigger.jar");
    private static outriggerImplName   = new String("com.sun.jini.outrigger.PersistentOutriggerImpl");
    private static outriggerConfig     = new String("${appHome}${/}example${/}outrigger${/}jsse${/}config${/}nonactivatable-outrigger.config");
    private static outriggerPersistCfg = new String[] { "com.sun.jini.outrigger.persistenceDirectory=",
                                                        ConfigUtil.stringLiteral("${java.io.tmpdir}jsse-outrigger-log") };
    private static outriggerPersistDir = ConfigUtil.concat( outriggerPersistCfg );
    private static outriggerArgsArray  = new String[] { outriggerConfig, outriggerPersistDir };

    /* For STARTING Non-activatable (persistent or transient) services */
    private static reggieServiceDescriptor =
                             new NonActivatableServiceDescriptor(reggieCodebase,
                                                                 reggiePolicyFile,
                                                                 reggieClasspath,
                                                                 reggieImplName,
                                                                 reggieArgsArray);
    private static mahaloServiceDescriptor =
                             new NonActivatableServiceDescriptor(mahaloCodebase,
                                                                 mahaloPolicyFile,
                                                                 mahaloClasspath,
                                                                 mahaloImplName,
                                                                 mahaloArgsArray);
    private static fiddlerServiceDescriptor =
                             new NonActivatableServiceDescriptor(fiddlerCodebase,
                                                                 fiddlerPolicyFile,
                                                                 fiddlerClasspath,
                                                                 fiddlerImplName,
                                                                 fiddlerArgsArray);
    private static normServiceDescriptor =
                             new NonActivatableServiceDescriptor(normCodebase,
                                                                 normPolicyFile,
                                                                 normClasspath,
                                                                 normImplName,
                                                                 normArgsArray);
    private static mercuryServiceDescriptor =
                             new NonActivatableServiceDescriptor(mercuryCodebase,
                                                                 mercuryPolicyFile,
                                                                 mercuryClasspath,
                                                                 mercuryImplName,
                                                                 mercuryArgsArray);
    private static outriggerServiceDescriptor =
                             new NonActivatableServiceDescriptor(outriggerCodebase,
                                                                 outriggerPolicyFile,
                                                                 outriggerClasspath,
                                                                 outriggerImplName,
                                                                 outriggerArgsArray);
    /* The services to start */
    static serviceDescriptors =
                             new ServiceDescriptor[] { reggieServiceDescriptor,
                                                       mahaloServiceDescriptor,
                                                       fiddlerServiceDescriptor,
                                                       normServiceDescriptor,
                                                       mercuryServiceDescriptor,
                                                       outriggerServiceDescriptor
                                                     };

}//end com.sun.jini.start

