/* Configuration file containing entries used to configure 
 * an implementation of the Browser to use JRMP for remote
 * communication.
 */
import net.jini.jrmp.JrmpExporter;

com.sun.jini.example.browser {
    /* Exporter(s) -------------------------------------------------------------- */

    /* Create the exporter to use to export the Browser's remote event listener.
     * Configure the exporter to export the listener in the following way:
     *  - use JRMP for remote communciation
     *  - when receiving calls, use an anonymous port
     *  - does not use custom socket factories
     */
    listenerExporter = new JrmpExporter();

    /* The initial set of groups to discover */
    initialLookupGroups = new String[] {"JRMP_Group0","JRMP_Group1"};

//    initialLookupGroups   = new String[] {""};
//    initialLookupLocators = new LookupLocator[] { new LookupLocator("jini://${serverHost}")};

}//end com.sun.jini.example.browser
