/* Configuration file containing entries used to configure the
 * ServiceStarter when that ServiceStarter is used to start
 * ONE service satisfying the following criteria:
 *  - uses JRMP for remote invocation
 *  - is activatable
 *  - persists its state
 *
 * When using this file to configure the ServiceStarter framework,
 * the system properties shown below must be set on the command line.
 * Those properties allow this one file to be used as the starter
 * configuration file for each of the contributed service
 * implementations.
 *
 *  -Djava.security.manager
 *  -Djava.security.policy
 *  -Djava.util.logging.manager
 *  -Djava.util.logging.config.file
 *  -Djava.security.debug (optional)
 *  -Dconfig        (THIS config file)
 *  -DserverHost    (host running phoenix and/or the service being started)
 *  -DsharedVMLog   (persistence directory for shared group VM info)
 *  -DserviceName   (ex. reggie, fiddler, norm, mercury, mahalo, outrigger)
 *  -DinterfaceName (ex. Registrar, Fiddler, NormServer, MailboxBackEnd, etc.)
 *  -DimplName      (ex. PersistentRegistrarImpl, ActivatableFiddlerImpl, ActivatableNormServerImpl, etc.)
 *  -DpersistDir    (use double back-slashes on windows, ex. c:\\home\\temp)
 *  -DcodebaseHost  (host running service's codebase server)
 *  -DcodebasePort  (port service's codebase server listens on)
 *  -Ddebug         (turns on/off security debugging in the service)
 *  -DjiniHome      (base install directory for Jini, ex. /vob/jive, c:\\jini2_0)
 *  -DappHome       (base install directory for examples, ex. /home/tests, c:\\tests)
 * 
 * Below is an example command line on unix. Carriage
 * returns are inserted for readability:
 * 
 * > /export/home/j2sdk1.4.1_01/bin/java
 *    -Djava.security.manager=
 *    -Djava.security.policy=<jini-install-dir>/common/jrmp/policy/start-service.policy
 *    -Djava.util.logging.manager=com.sun.jini.logging.LogManager
 *    -Djava.util.logging.config.file=<jini-install-dir>/common/logging/jini.logging
 *    -Dconfig=<jini-install-dir>/common/jrmp/config/start-one-activatable.config
 *    -DserverHost=<hostname>
 *    -DsharedVMLog=/tmp/jrmp-<serviceName>-sharedvm
 *    -DserviceName=<serviceName> (ex. reggie)
 *    -DinterfaceName=<interfaceName> (ex. Registrar)
 *    -DimplName=<implName> (ex. PersistentRegistrarImpl)
 *    -DpersistDir=/tmp/jrmp-activatable-<serviceName>-log
 *    -DcodebaseHost=<httpd-hostname>
 *    -DcodebasePort=8080
 *    -DjiniHome=<jini-install-dir>
 *    -DappHome=<example-install-dir>
 *    -Ddebug=off (values: access,failure | policy,access,failure | off | none)
 *    -jar <jini-install-dir>/lib/start.jar <example-install-dir>/common/jrmp/config/start-one-activatable.config
 */

/* The following describes what is required in this file by the
 * ServiceStarter:
 *
 *  - SharedActivationGroupDescriptor, containing the following
 *    required and optional items:
 *
 *      o required String that specifies the policy file to be used
 *        in the activation group VM
 *      o required String that specifies the classpath to be used in
 *        the activation group VM
 *      o required String that specifies the path and filename of the
 *        log for the shared activation group of the service.
 *      o optional String that specifies which VM implementation
 *        (java command) should be used for the service's VM. The
 *        value of this item  must be an absolute path to an executable;
 *        and that executable must accept all the standard VM 
 *        command-line options (for example, -D, -classpath, and so on),
 *        and directly or indirectly start a VM.
 *      o optional String array that specifies the command-line options
 *        the activation system should use when activating the service.
 *        Each of these options must start with a "-" (for example, 
 *        '-classpath <classpath>', '-client', '-server', etc.).
 *      o optional String array that specifies the system properties
 *        to be set on the service's VM by the activation system. Each
 *        of these items must take the form '-D<name>=<value>'.
 *      o optional String that specifies the name of the host on
 *        which the activation system (phoenix) is running
 *      o optional int that specifies the port number on which the
 *        activation system (phoenix) is listening for connection requests
 *
 *    The ServiceDescriptor contains the following required and
 *    optional items:
 *
 *      o SharedActivatableServiceDescriptor (because the service
 *        is activatable)
 *      o required String that specifies the codebase to be used in
 *        the service's VM
 *      o required String that specifies the policy file to be used
 *        in the service's VM
 *      o required String that specifies the classpath to be used
 *        in the service's VM
 *      o required String that specifies the impl class name of
 *        the service to be started
 *      o required String that specifies the path and filename of
 *        the log directory for the shared activation group of the
 *        service. This item is used to specify which activation
 *        group VM will host the service
 *      o optional String array that specifies the arguments with 
 *        which to configure the service. Note that the first
 *        element should be the path and filename of the service's
 *        configuration file, and the remaining arguments can be
 *        configuration values that override the values in that
 *        configuration file
 *      o optional boolean that specifies whether or not the
 *        activation system should automatically restart the
 *        service upon a crash
 *
 *    Note: the first element of the first optional String argument
 *          of the ServiceDescriptor represents the location of another
 *          configuration file, different from this config file, that the
 *          service uses for its configuration. The service implementation
 *          retrieves the location of that other configuration file from
 *          its argument list and then performs a number of calls to getEntry
 *          during its initialization, to retrieve the values of the
 *          various configuration entries the service expects (refer to the
 *          javadoc of the service for a list of what the service expects). 
 *          
 *    Note: the optional String array in SharedActivationGroupDescriptor that
 *          specifies the system properties to be set on the service's VM by
 *          the activation system contains the following key/value pairs:
 *            - java.security.debug (optional)
 *            - java.util.logging.LogManager
 *            - java.util.logging.config.file
 *            - serviceClasspath
 *            - serviceConfig
 *            - serverHost
 *            - serviceName
 *            - interfaceName
 *            - implName
 *            - persistDir
 *            - jiniHome
 *            - appHome
 *          These entries are retrieved from the system properties by the
 *          runtime.
 *          
 *    Note: for activatable services, recall that a security manager will
 *          be set automatically by the activation system (otherwise the
 *          optional String array that specifies the system properties to
 *          be set on the service's VM would need to also include a
 *          {"java.security.manager",""} key/value pair). That security
 *          manager will then query the service's policy file whose location is
 *          specified through the java.security.policy property that is set in
 *          the ServiceDescriptor below.
 *         
 *          The RMI runtime will retrieve the value associated here with the
 *          service's java.rmi.server.codebase property. It will use that
 *          codebase property to annotate the remote objects exported by the
 *          service.
 * 
 *          Before the security manager interrogates the policy file, the 
 *          runtime will retrieve a number of system properties that will then
 *          be substituted in the policy file, wherever tokens of the form
 *          ${property name} occur in that file. This substition mechanism
 *          allows some flexibility with respect to starting different services
 *          in different environments.
 *          
 *    Note: should the optional String array in SharedActivationGroupDescriptor
 *          that specifies the system properties to be set on the service's VM
 *          contain a key/value pair of {"java.security.debug", "failure,access"},
 *          then the service will display security debug output to the Phoenix
 *          output display.
 */
import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.start.SharedActivatableServiceDescriptor;
import com.sun.jini.start.SharedActivationGroupDescriptor;
import net.jini.security.BasicProxyPreparer;

com.sun.jini.start {

    /* Proxy Preparer(s) -------------------------------------------------------- */

    /* Note that the proxy preparer specified below is needed only for this
     * case where the ServiceStarter framework is used to start an activatable
     * service. This is necessary because when handling an activatable service,
     * the ServiceStarter framework must create the (shared) activation goup VM
     * (if it has not been created already) and then register the service with
     * the activation system so that the service can be activated to run in
     * that activation group VM. 
     * 
     * Both when creating the group VM and when registering the service with the
     * activation system, a call to ServiceStarter.getActivationSystem() is made
     * to retrieve a proxy to the activation system (see the create() method in
     * SharedActivationGroupDescriptor and SharedActivatableServiceDescriptor).
     * 
     * Because methods on that proxy will ultimately be invoked, the proxy should
     * be prepared. ServiceStarter.getActivationSystem() retrieves the preparer
     * named "activationSystemPreparer" specified in this file, and applies it
     * to the activation system proxy before using the proxy in any way.
     */
    activationSystemPreparer = new BasicProxyPreparer();

    /* SharedVM-related --------------------------------------------------------- */
    /* Configuration items needed by the ServiceStarter that are related to
     * creating and/or destroying the shared activation group VM
     */
    private static sharedVMPolicyFile = new String("${appHome}${/}example${/}sharedvm${/}jrmp${/}policy${/}sharedvm.policy");
    private static sharedVMClasspath  = new String("${jiniHome}${/}lib${/}sharedvm.jar");

    private static groupCodebase   = new String("http://${codebaseHost}:${codebasePort}/group-dl.jar");
    private static groupPolicyFile = new String("${appHome}${/}example${/}sharedvm${/}jrmp${/}policy${/}sharedvm.policy");
    private static groupClasspath  = new String("${jiniHome}${/}lib${/}group.jar");
    private static groupImplName   = new String("com.sun.jini.start.SharedGroupImpl");
    private static groupArgsArray  = new String[] { "${appHome}${/}example${/}sharedvm${/}jrmp${/}config${/}destroyGroup.config" };

    /* Service-related ---------------------------------------------------------- */
    /* Configuration items needed by the ServiceStarter to start the service */

    private static serviceCodebase    = new String("http://${codebaseHost}:${codebasePort}/${serviceName}-dl.jar http://${codebaseHost}:${codebasePort}/jsk-dl.jar");
    private static servicePolicyFile  = new String("${appHome}${/}example${/}${serviceName}${/}jrmp${/}policy${/}${serviceName}.policy");
    private static serviceClasspath   = new String("${jiniHome}${/}lib${/}${serviceName}.jar");
    private static serviceImplName    = new String("com.sun.jini.${serviceName}.${implName}");
    private static serviceConfig      = new String("${appHome}${/}example${/}${serviceName}${/}jrmp${/}config${/}activatable-${serviceName}.config");
    private static serviceArgsArray   = new String[] { serviceConfig };

    /* On the command line, set the system property 'sharedVMLog'
     * to something having the following form:
     *     -DsharedVMLog=/tmp/jrmp-<serviceName>-sharedvm
     */
    private static sharedVMDir      = "${sharedVMLog}";

    private static serverCommand    = null;
    private static serverOptions    = null;
    private static serverProperties = new String[]
     {
      // On the command line, set system property named
      // 'debug' to one of the following:
      // -Ddebug=access,failure
      // -Ddebug=policy,access,failure
      // -Ddebug=all
      // -Ddebug=none (turns security debugging off)
      // -Ddebug=     (same as none)
      "java.security.debug", "${debug}",

      "java.util.logging.manager",     "${java.util.logging.manager}",
      "java.util.logging.config.file", "${java.util.logging.config.file}",
      "serviceClasspath", serviceClasspath,
      "serviceConfig",    serviceConfig,
      // the following items need to be set on the command line as system properties
      "serviceName",     "${serviceName}",
      "interfaceName",   "${interfaceName}",
      "implName",        "${implName}",
      "serverHost",      "${serverHost}",
      "persistDir",      "${persistDir}",
      "jiniHome",        "${jiniHome}",
      "appHome",         "${appHome}"
     };

    private registryHost = "${serverHost}";
    private registryPort = 1098;

    /* For creating the shared activation group VM in which the
     * activatable service will run.
     */
    private static sharedActivationGroupDescriptor =
                             new SharedActivationGroupDescriptor(sharedVMPolicyFile,
                                                                 sharedVMClasspath,
                                                                 sharedVMDir,
                                                                 serverCommand,
                                                                 serverOptions,
                                                                 serverProperties,
                                                                 registryHost,
                                                                 registryPort );
    /* For destroying the shared activation group VM. */
    private static destroySharedGroupDescriptor =
                             new SharedActivatableServiceDescriptor(groupCodebase,
                                                                    groupPolicyFile,
                                                                    groupClasspath,
                                                                    groupImplName,
                                                                    sharedVMDir,
                                                                    groupArgsArray,
                                                                    false,
                                                                    registryHost,
                                                                    registryPort );
    /* For starting the activatable service. */
    private static activatableServiceDescriptor =
                             new SharedActivatableServiceDescriptor(serviceCodebase,
                                                                    servicePolicyFile,
                                                                    serviceClasspath,
                                                                    serviceImplName,
                                                                    sharedVMDir,
                                                                    serviceArgsArray,
                                                                    true,
                                                                    registryHost,
                                                                    registryPort );
    /* When starting activatable services, the array below should  
     * always place the SharedActivationGroupDescriptor BEFORE the 
     * SharedActivatableServiceDescriptor in the array; and that
     * SharedActivatableServiceDescriptor should be mapped to the
     * desired group VM by specifying the value of the 'sharedVMDIR'
     * argument.
     *
     * Note that it is acceptable (though not typical) to include
     * one or more NonActivatableServiceDescriptors along with the
     * items related to the group VM and the activatable service.
     * If this is done, then the activatable service run in its
     * assigned activation group VM; whereas the non-activatable
     * service(s) will run in the setup VM itself.
     */
    static serviceDescriptors =
                             new ServiceDescriptor[] { sharedActivationGroupDescriptor,
                                                       activatableServiceDescriptor };

    /* The array below is used to destroy the shared activation
     * group VM in which the service started above runs. The
     * command line used to destroy the shared activation group
     * VM should take the following form (assuming unix):
     *
     * > /export/home/j2sdk1.4.1_01/bin/java -jar <jini-install-dir>/lib/destroy.jar <this config file>
     */
    static serviceDestructors =
                             new ServiceDescriptor[] { destroySharedGroupDescriptor };

}//end com.sun.jini.start

