/* Security policy file for the VM that executes a Phoenix
 * daemon that is configured to use JRMP for its remote
 * communcation.
 */

/* Code location = the platform jar file
 * Running under = any principal (or none at all)
 * Purpose       = permissions required by the platform to support
 *                 starting and stopping Phoenix. Because this is
 *                 platform code which is not downloaded, ALL
 *                 permissions are granted to this codebase.
 */
grant codebase "file:${jiniHome}${/}lib${/}jsk-platform.jar" {
    permission java.security.AllPermission "", "";
};

grant codeBase "file:${jiniHome}${/}lib${/}jsk-lib.jar" {
    permission java.security.AllPermission;
};

/* Code location = the classpath of Phoenix (phoenix.jar)
 * Running under = any principal (or none at all)
 * Purpose       = permissions required by the classes that execute
 *                 the Phoenix deamon itself
 */
grant codeBase "file:${jiniHome}${/}lib${/}phoenix.jar" {

    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";

    permission java.lang.RuntimePermission "accessClassInPackage.sun.rmi.server";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.rmi.transport";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.util.logging.resources";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.lang.RuntimePermission "getClassLoader";
    permission java.lang.RuntimePermission "getProtectionDomain";
    permission java.lang.RuntimePermission "shutdownHooks";

    permission java.io.FilePermission "${config}", "read";
    permission java.io.FilePermission "${appHome}${/}example${/}phoenix${/}jeri${/}config${/}phoenix.config", "read";
    permission java.io.FilePermission "${java.home}${/}bin${/}java", "execute";
    permission java.io.FilePermission "${jiniHome}${/}-", "read";
    permission java.io.FilePermission "${jiniHome}${/}lib${/}-", "read";
    permission java.io.FilePermission "${jiniHome}${/}lib${/}phoenix-group.jar", "read";
    permission java.io.FilePermission "${appHome}${/}-", "read";
    permission java.io.FilePermission "${persistDir}",      "read,write,delete";
    permission java.io.FilePermission "${persistDir}${/}-", "read,write,delete";

    permission java.net.SocketPermission "*",                   "resolve";
    permission java.net.SocketPermission "${serverHost}:1024-", "connect";
    permission java.net.SocketPermission "*:1024-",             "accept";

    permission java.util.PropertyPermission "java.home", "read";
    permission java.util.PropertyPermission "java.class.path", "read";
    permission java.util.PropertyPermission "sun.rmi.log.debug", "read";
};

/* Code location = the Phoenix activation group impl, executing in
 *                 the child VM spawned by Phoenix, and consisting
 *                 of the classes contained in phoenix-group.jar
 * Running under = any principal (or none at all)
 * Purpose       = permissions required by the classes of the activation
 *                 group impl to allow communication back to the
 *                 Phoenix parent VM
 */
grant codebase "file:${jiniHome}${/}lib${/}phoenix-group.jar" {
    permission java.io.FilePermission "${jiniHome}${/}lib${/}jsk-lib.jar", "read";
    permission java.net.SocketPermission "${serverHost}:1024-", "connect";
};

/* Code location = any code from any codebase
 * Running under = any principal (or none at all)
 * Purpose       = grants to all codebases, broad permissions related to
 *                 the various services that Phoenix will activate and
 *                 interact with
 */
grant {
    /* Remote methods to allow to be invoked */
    permission com.sun.jini.phoenix.SystemPermission "registerGroup";
    permission com.sun.jini.phoenix.SystemPermission "registerObject";
    permission com.sun.jini.phoenix.SystemPermission "unregisterGroup";
    permission com.sun.jini.phoenix.SystemPermission "unregisterObject";
    permission com.sun.jini.phoenix.MonitorPermission "*";

    /* System Properties to allow to be set on all VMs */

    permission com.sun.jini.phoenix.ExecOptionPermission "-classpath";
    permission com.sun.jini.phoenix.ExecOptionPermission "-cp";

    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.security.manager=";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.security.debug=";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.security.debug=none";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.security.debug=off";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.security.debug=all";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.security.debug=access,failure";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.security.debug=policy,access,failure";

    permission com.sun.jini.phoenix.ExecOptionPermission "-DserverHost=${serverHost}";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DjiniHome=${jiniHome}";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DappHome=${appHome}";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=${persistDir}";
    permission com.sun.jini.phoenix.ExecOptionPermission "${jiniHome}${/}lib${/}sharedvm.jar";

    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.security.policy=${jiniHome}${/}policy${/}policy.all";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.security.policy=${appHome}${/}example${/}sharedvm${/}jrmp${/}policy${/}sharedvm.policy";

    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.util.logging.manager=com.sun.jini.logging.LogManager";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.util.logging.config.file=${appHome}${/}example${/}common${/}logging${/}phoenix.logging";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.util.logging.config.file=${appHome}${/}example${/}common${/}logging${/}jini.logging";

    /* System Properties for Reggie Activatable Object */
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceConfig=${appHome}${/}example${/}reggie${/}jrmp${/}config${/}activatable-reggie.config";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceConfig=${appHome}${/}example${/}reggie${/}jrmp${/}config${/}nonactivatable-reggie.config";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceConfig=${appHome}${/}example${/}reggie${/}jrmp${/}config${/}transient-reggie.config";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceClasspath=${jiniHome}${/}lib${/}reggie.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceName=reggie";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DinterfaceName=Registrar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DimplName=RegistrarImpl";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DimplName=PersistentRegistrarImpl";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DimplName=TransientRegistrarImpl";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=${/}tmp${/}jrmp-reggie-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=${/}temp${/}jrmp-reggie-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=C:${/}temp${/}jrmp-reggie-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=D:${/}temp${/}jrmp-reggie-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=E:${/}temp${/}jrmp-reggie-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=${java.io.tmpdir}jrmp-reggie-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "${jiniHome}${/}lib${/}reggie.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.security.policy=${appHome}${/}example${/}reggie${/}jrmp${/}policy${/}reggie.policy";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8080/reggie-dl.jar http://${serverHost}:8080/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8081/reggie-dl.jar http://${serverHost}:8081/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8082/reggie-dl.jar http://${serverHost}:8082/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8083/reggie-dl.jar http://${serverHost}:8083/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8084/reggie-dl.jar http://${serverHost}:8084/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8085/reggie-dl.jar http://${serverHost}:8085/jsk-dl.jar";

    /* System Properties for Mahalo Activatable Object */
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceConfig=${appHome}${/}example${/}mahalo${/}jrmp${/}config${/}activatable-mahalo.config";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceConfig=${appHome}${/}example${/}mahalo${/}jrmp${/}config${/}nonactivatable-mahalo.config";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceConfig=${appHome}${/}example${/}mahalo${/}jrmp${/}config${/}transient-mahalo.config";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceClasspath=${jiniHome}${/}lib${/}mahalo.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceName=mahalo";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DinterfaceName=TxnManager";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DimplName=TxnManagerImpl";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DimplName=ActivatableMahaloImpl";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DimplName=NonActivatableMahaloImpl";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DimplName=TransientMahaloImpl";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=${/}tmp${/}jrmp-mahalo-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=${/}temp${/}jrmp-mahalo-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=C:${/}temp${/}jrmp-mahalo-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=D:${/}temp${/}jrmp-mahalo-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=E:${/}temp${/}jrmp-mahalo-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=${java.io.tmpdir}jrmp-mahalo-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "${jiniHome}${/}lib${/}mahalo.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.security.policy=${appHome}${/}example${/}mahalo${/}jrmp${/}policy${/}mahalo.policy";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8080/mahalo-dl.jar http://${serverHost}:8080/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8081/mahalo-dl.jar http://${serverHost}:8081/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8082/mahalo-dl.jar http://${serverHost}:8082/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8083/mahalo-dl.jar http://${serverHost}:8083/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8084/mahalo-dl.jar http://${serverHost}:8084/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8085/mahalo-dl.jar http://${serverHost}:8085/jsk-dl.jar";

    /* System Properties for Fiddler Activatable Object */
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceConfig=${appHome}${/}example${/}fiddler${/}jrmp${/}config${/}activatable-fiddler.config";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceConfig=${appHome}${/}example${/}fiddler${/}jrmp${/}config${/}nonactivatable-fiddler.config";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceConfig=${appHome}${/}example${/}fiddler${/}jrmp${/}config${/}transient-fiddler.config";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceClasspath=${jiniHome}${/}lib${/}fiddler.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceName=fiddler";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DinterfaceName=Fiddler";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DimplName=FiddlerImpl";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DimplName=ActivatableFiddlerImpl";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DimplName=NonActivatableFiddlerImpl";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DimplName=TransientFiddlerImpl";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=${/}tmp${/}jrmp-fiddler-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=${/}temp${/}jrmp-fiddler-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=C:${/}temp${/}jrmp-fiddler-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=D:${/}temp${/}jrmp-fiddle-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=E:${/}temp${/}jrmp-fiddler-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=${java.io.tmpdir}jrmp-fiddler-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "${jiniHome}${/}lib${/}fiddler.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.security.policy=${appHome}${/}example${/}fiddler${/}jrmp${/}policy${/}fiddler.policy";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8080/fiddler-dl.jar http://${serverHost}:8080/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8081/fiddler-dl.jar http://${serverHost}:8081/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8082/fiddler-dl.jar http://${serverHost}:8082/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8083/fiddler-dl.jar http://${serverHost}:8083/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8084/fiddler-dl.jar http://${serverHost}:8084/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8085/fiddler-dl.jar http://${serverHost}:8085/jsk-dl.jar";

    /* System Properties for Norm Activatable Object */
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceConfig=${appHome}${/}example${/}norm${/}jrmp${/}config${/}activatable-norm.config";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceConfig=${appHome}${/}example${/}norm${/}jrmp${/}config${/}nonactivatable-norm.config";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceConfig=${appHome}${/}example${/}norm${/}jrmp${/}config${/}transient-norm.config";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceClasspath=${jiniHome}${/}lib${/}norm.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceName=norm";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DinterfaceName=NormServer";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DimplName=NormServerBaseImpl";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DimplName=ActivatableNormServerImpl";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DimplName=PersistentNormServerImpl";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DimplName=TransientNormServerImpl";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=${/}tmp${/}jrmp-norm-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=${/}temp${/}jrmp-norm-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=C:${/}temp${/}jrmp-norm-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=D:${/}temp${/}jrmp-norm-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=E:${/}temp${/}jrmp-norm-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=${java.io.tmpdir}jrmp-norm-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "${jiniHome}${/}lib${/}norm.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.security.policy=${appHome}${/}example${/}norm${/}jrmp${/}policy${/}norm.policy";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8080/norm-dl.jar http://${serverHost}:8080/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8081/norm-dl.jar http://${serverHost}:8081/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8082/norm-dl.jar http://${serverHost}:8082/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8083/norm-dl.jar http://${serverHost}:8083/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8084/norm-dl.jar http://${serverHost}:8084/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8085/norm-dl.jar http://${serverHost}:8085/jsk-dl.jar";

    /* System Properties for Mercury Activatable Object */
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceConfig=${appHome}${/}example${/}mercury${/}jrmp${/}config${/}activatable-mercury.config";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceConfig=${appHome}${/}example${/}mercury${/}jrmp${/}config${/}nonactivatable-mercury.config";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceConfig=${appHome}${/}example${/}mercury${/}jrmp${/}config${/}transient-mercury.config";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceClasspath=${jiniHome}${/}lib${/}mercury.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceName=mercury";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DinterfaceName=MailboxBackEnd";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DimplName=MailboxImpl";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DimplName=ActivatableMercuryImpl";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DimplName=NonActivatableMercuryImpl";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DimplName=TransientMercuryImpl";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=${/}tmp${/}jrmp-mercury-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=${/}temp${/}jrmp-mercury-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=C:${/}temp${/}jrmp-mercury-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=D:${/}temp${/}jrmp-mercury-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=E:${/}temp${/}jrmp-mercury-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=${java.io.tmpdir}jrmp-mercury-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "${jiniHome}${/}lib${/}mercury.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.security.policy=${appHome}${/}example${/}mercury${/}jrmp${/}policy${/}mercury.policy";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8080/mercury-dl.jar http://${serverHost}:8080/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8081/mercury-dl.jar http://${serverHost}:8081/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8082/mercury-dl.jar http://${serverHost}:8082/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8083/mercury-dl.jar http://${serverHost}:8083/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8084/mercury-dl.jar http://${serverHost}:8084/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8085/mercury-dl.jar http://${serverHost}:8085/jsk-dl.jar";

    /* System Properties for Outrigger Activatable Object */
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceConfig=${appHome}${/}example${/}outrigger${/}jrmp${/}config${/}activatable-outrigger.config";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceConfig=${appHome}${/}example${/}outrigger${/}jrmp${/}config${/}nonactivatable-outrigger.config";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceConfig=${appHome}${/}example${/}outrigger${/}jrmp${/}config${/}transient-outrigger.config";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceClasspath=${jiniHome}${/}lib${/}outrigger.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DserviceName=outrigger";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DinterfaceName=OutriggerServer";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DimplName=OutriggerServerImpl";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DimplName=PersistentOutriggerImpl";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DimplName=TransientOutriggerImpl";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=${/}tmp${/}jrmp-outrigger-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=${/}temp${/}jrmp-outrigger-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=C:${/}temp${/}jrmp-outrigger-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=D:${/}temp${/}jrmp-outrigger-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=E:${/}temp${/}jrmp-outrigger-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "-DpersistDir=${java.io.tmpdir}jrmp-outrigger-log";
    permission com.sun.jini.phoenix.ExecOptionPermission "${jiniHome}${/}lib${/}outrigger.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "${jiniHome}${/}lib${/}outrigger-logstore.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.security.policy=${appHome}${/}example${/}outrigger${/}jrmp${/}policy${/}outrigger.policy";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8080/outrigger-dl.jar http://${serverHost}:8080/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8081/outrigger-dl.jar http://${serverHost}:8081/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8082/outrigger-dl.jar http://${serverHost}:8082/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8083/outrigger-dl.jar http://${serverHost}:8083/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8084/outrigger-dl.jar http://${serverHost}:8084/jsk-dl.jar";
    permission com.sun.jini.phoenix.ExecOptionPermission "-Djava.rmi.server.codebase=http://${serverHost}:8085/outrigger-dl.jar http://${serverHost}:8085/jsk-dl.jar";

    permission java.util.PropertyPermission "config",      "read";
    permission java.util.PropertyPermission "groupConfig", "read";
    permission java.util.PropertyPermission "persistDir",  "read";
    permission java.util.PropertyPermission "serverHost",  "read";
    permission java.util.PropertyPermission "jiniHome",    "read";
    permission java.util.PropertyPermission "appHome",     "read";
};
