/* Security policy file for the VM that executes the Browser
 * implmentation configured to use Jini ERI for its remote
 * communcation.
 */

/* Code location = the platform jar file
 * Running under = any principal (or none at all)
 * Purpose       = permissions required by the platform to support
 *                 executing the Browser. Because this is platform
 *                 code which is not downloaded, ALL permissions
 *                 are granted to this codebase.
 */
grant codebase "file:${jiniHome}${/}lib${/}jsk-platform.jar" {
    permission java.security.AllPermission "", "";
};

grant codeBase "file:${jiniHome}${/}lib${/}jsk-lib.jar" {
    permission java.security.AllPermission;
};

/* Code location = the classpath of the Browser (browser.jar)
 * Running under = any principal (or none at all)
 * Purpose       = permissions required by the classes that
 *                 execute the Browser
 */
grant codeBase "file:${jiniHome}${/}lib${/}browser.jar" {
    permission java.security.AllPermission;
};

/* Code location = any code from any codebase
 * Running under = any principal (or none at all)
 * Purpose       = grants to all codebases, broad permissions related to
 *                 the various services that the Browser might interact
 *                 with
 */
grant {
    permission java.net.SocketPermission "*",       "resolve";
    permission java.net.SocketPermission "*:1024-", "connect,accept";
    permission java.net.SocketPermission "*:80",    "connect";

    permission java.util.PropertyPermission "java.util.logging.manager",     "read";
    permission java.util.PropertyPermission "java.util.logging.config.file", "read";
    permission java.util.PropertyPermission "com.sun.jini.reggie.enableImplToStubReplacement", "read";
    permission java.util.PropertyPermission "com.sun.jini.outrigger.maxServerQueryTimeout", "read";
};
