/* Configuration file containing entries used to configure the
 * ServiceStarter when that ServiceStarter is used to start
 * Phoenix using Jini ERI for remote communication
 *
 * When using this file to configure the ServiceStarter framework,
 * the system properties shown below must be set on the command line.
 *
 *  -Djava.security.manager
 *  -Djava.security.policy
 *  -Djava.util.logging.manager
 *  -Djava.util.logging.config.file
 *  -Djava.security.debug (optional)
 *  -Dconfig        (THIS config file)
 *  -DgroupConfig   (activation instantiator config file)
 *  -DserverHost    (host on which Phoenix will run)
 *  -DpersistDir    (use double back-slashes on windows, ex. c:\\home\\temp; optional if non-persistent)
 *  -DcodebaseHost  (host running Phoenix's codebase server)
 *  -DcodebasePort  (port Phoenix's codebase server listens on)
 *  -DjiniHome      (base install directory for Jini, ex. /vob/jive, c:\\jini2_0)
 *  -DappHome       (base install directory for examples, ex. /home/tests, c:\\tests)
 * 
 * Below is an example command line on unix. Carriage
 * returns are inserted for readability:
 * 
 * > /export/home/j2sdk1.4.1_01/bin/java
 *    -Djava.security.manager=
 *    -Djava.security.policy=<jini-install-dir>/common/jeri/policy/start-service.policy
 *    -Djava.util.logging.manager=com.sun.jini.logging.LogManager
 *    -Djava.util.logging.config.file=<jini-install-dir>/common/logging/phoenix.logging
 *    -Dconfig=<jini-install-dir>/common/jeri/config/start-phoenix.config
 *    -DserverHost=<hostname>
 *    -DpersistDir=/tmp/jeri-phoenix-log
 *    -DcodebaseHost=<httpd-hostname>
 *    -DcodebasePort=8080
 *    -DjiniHome=<jini-install-dir>
 *    -DappHome=<example-install-dir>
 *    -jar <jini-install-dir>/lib/start.jar <example-install-dir>/common/jeri/config/start-phoenix.config
 */

/* The following describes what is required in this file by the
 * ServiceStarter:
 *
 *  - ServiceDescriptor, either of one of the following types: 
 *
 *    The ServiceDescriptor contains the following required and
 *    optional items:
 *      o NonActivatableServiceDescriptor
 *      o required String that specifies the codebase to be used in
 *        Phoenix's VM
 *      o required String that specifies the policy file to be used
 *        in Phoenix's VM
 *      o required String that specifies the classpath to be used
 *        in Phoenix's VM
 *      o required String that specifies the class name of the
 *        instance to construct to start Phoenix
 *      o optional String array that specifies the arguments with 
 *        which to configure Phoenix. Note that the first element
 *        should be the path and filename of Phoenix's configuration 
 *        file, and the remaining arguments can be configuration 
 *        values that override the values in that configuration file
 *
 *    Note: the first element of the first optional String argument
 *          of the ServiceDescriptor represents the location of another
 *          configuration file, different from this config file, that
 *          Phoenix uses for its configuration. Phoenix will retrieve
 *          the location of that other configuration file from its 
 *          argument list and then performs a number of calls to getEntry
 *          during its initialization, to retrieve the values of the
 *          various configuration entries Phoenix expects (refer to the
 *          javadoc of Phoenix for a list of what the Phoenix expects). 
 */
import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;

com.sun.jini.start {

    /* Configuration items needed by the ServiceStarter to start Phoenix */

    private static phoenixCodebase   = new String("http://${codebaseHost}:${codebasePort}/phoenix-dl.jar http://${codebaseHost}:${codebasePort}/jsk-dl.jar");
    private static phoenixPolicyFile = new String("${appHome}${/}example${/}phoenix${/}jeri${/}policy${/}phoenix.policy");
    private static phoenixClasspath  = new String("${jiniHome}${/}lib${/}phoenix.jar");
    private static phoenixImplName   = new String("com.sun.jini.phoenix.PhoenixStarter");
    private static phoenixConfig     = new String("${appHome}${/}example${/}phoenix${/}jeri${/}config${/}phoenix.config");
    private static phoenixArgsArray  = new String[] { phoenixConfig };

    /* For STARTING Phoenix */
    private static nonActivatableServiceDescriptor =
                                new NonActivatableServiceDescriptor(phoenixCodebase,
                                                                    phoenixPolicyFile,
                                                                    phoenixClasspath,
                                                                    phoenixImplName,
                                                                    phoenixArgsArray);

    static serviceDescriptors = new ServiceDescriptor[] { nonActivatableServiceDescriptor };

}//end com.sun.jini.start
