/* Service configuration file containing entries used to configure
 * Fiddler when that service is started by the ServiceStarter
 * framework; satisfying the following criteria:
 *  - uses JRMP for remote invocation
 *  - is NOT activatable
 *  - does NOT perist its state
 */
import net.jini.jrmp.JrmpExporter;
import net.jini.core.discovery.LookupLocator;

import java.net.InetAddress;
import java.net.NetworkInterface;

com.sun.jini.fiddler {

    /* Exporter(s) -------------------------------------------------------------- */

    /* Create the exporter to use to export the service's backend. Configure
     * the exporter to export the service in the following way:
     *  - use JRMP for remote communciation
     *  - when receiving calls, use an anonymous port
     *  - does not use custom socket factories
     */
    serverExporter = new JrmpExporter();

    /* Application-specific Items ----------------------------------------------- */

    initialLookupGroups = new String[] {"JRMP_Group0","JRMP_Group1"};
//    initialLookupGroups   = new String[] {""};
//    initialLookupLocators = new LookupLocator[] { new LookupLocator("jini://${serverHost}")};

}//end com.sun.jini.fiddler

/* Configuration block for the lookup discovery utility */
net.jini.discovery.LookupDiscovery {

    /* NICs that initially failed are retried after this number of millisecs. */
//    multicastInterfaceRetryInterval = 30000;
    /* EXAMPLES of how to set the NICs to use. Will use ALL NICs if left unset. */
//  multicastInterfaces = new NetworkInterface[] { };// disables multicast
//  multicastInterfaces = null;                      // use system default interface
    /* Set NICs by specific IP addresses. */
//  multicastInterfaces = new NetworkInterface[] { NetworkInterface.getByInetAddress(InetAddress.getByName("192.168.1.10"),
//                                                 NetworkInterface.getByInetAddress(InetAddress.getByName("10.0.0.1")
//                                               };
    /* Set NICs by mix of (fully-qualified) host name and specific IP address. */
//  multicastInterfaces = new NetworkInterface[] { NetworkInterface.getByInetAddress(InetAddress.getByName("myHost.myCompany.com"),
//                                                 NetworkInterface.getByInetAddress(InetAddress.getByName("10.0.0.1")
//                                               };
    /* Set NICs by the NAME of the interface(s) themselves */
//  multicastInterfaces = new NetworkInterface[] { NetworkInterface.getByName("lo0"), //usually the loopback 127.0.01
//                                                 NetworkInterface.getByName("hme0")
//                                               };

}//end net.jini.discovery.LookupDiscovery
