/* Service configuration file containing entries used to configure
 * Mercury when that service is started by the ServiceStarter
 * framework; satisfying the following criteria:
 *  - uses JRMP for remote invocation
 *  - is NOT activatable
 *  - does NOT perist its state
 */
import net.jini.jrmp.JrmpExporter;
import net.jini.core.discovery.LookupLocator;

com.sun.jini.mercury {

    /* Exporter(s) -------------------------------------------------------------- */

    /* Create the exporter to use to export the service's backend. Configure
     * the exporter to export the service in the following way:
     *  - use JRMP for remote communciation
     *  - when receiving calls, use an anonymous port
     *  - does not use custom socket factories
     */
    serverExporter = new JrmpExporter();

    /* Application-specific Items ----------------------------------------------- */

    initialLookupGroups = new String[] {"JRMP_Group0","JRMP_Group1"};
//    initialLookupGroups   = new String[] {""};
//    initialLookupLocators = new LookupLocator[] { new LookupLocator("jini://${serverHost}")};

}//end com.sun.jini.mercury
